.section-switch {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-inline-end: 1px solid #f0f8ff4f;
  font-size: 0.8125rem;
  opacity: 0;
  inset-inline-end: 10000px;
}

.section-switch > a {
  padding: 1rem;
  margin-inline-end: 3px;
}

.section-switch .selector {
  position: absolute;
  inset-inline-end: 0;
  width: 3px;
  height: 50px;
  background-color: var(--colors-primary);
  border-radius: 100vw;
  transition: top 0.5s ease-in-out;
}

.section-scroll {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  transform-origin: right bottom;
  transform: rotate(-90deg) translateX(100%);
  color: var(--colors-primary);
  font-size: 1.25rem;
  opacity: 0;
  z-index: -999;
  inset-inline-end: 10000px;
}

.scroll-arrow {
  transition: transform var(--transitions-color);
}

.section-scroll:hover .scroll-arrow.up {
  transform: translateX(0.5rem);
}

.section-scroll:hover .scroll-arrow.down {
  transform: translateX(-0.5rem);
}

.section-scroll > span {
  opacity: 0.4;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  line-height: 0.9;
}

@media (min-width: 992px) {
  .section-switch,
  .section-scroll {
    position: relative;
    opacity: 1;
    inset-inline-end: 0;
  }
}
