.app-logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 2rem;
  font-weight: var(--font-weights-bold);
  letter-spacing: 5px;
  line-height: 1;
  outline: none;
}

.blinkit {
  animation: blink 1.6s infinite;
}
