.hero-section {
  position: relative;
  padding-inline: 1rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-inline: auto;
  width: min(1440px, 100%);
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.hero-image {
  width: min(300px, 100%);
  margin-block-start: 2.5rem;
  align-self: center;
}

.hero-image .code_graph path {
  animation: float 4s ease-in-out infinite;
  transition: fill var(--transitions-color);
}

.hero-image .code_graph:not(.disabled):hover path {
  fill: var(--colors-link-primary) !important;
}

.hero-description > h1 {
  width: min(440px, 100%);
  font-size: 2.4375rem;
  line-height: 1;
}

.hero-description > p {
  width: min(500px, 100%);
}

.hero-section .section-content .nav-link > svg {
  font-size: 1.25rem;
  transition: transform var(--transitions-color);
}

.hero-section .section-content .nav-link:hover > svg {
  transform: rotate(90deg);
}

.side-dots {
  position: absolute;
  inset-block: -10% 0;
  inset-inline-start: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(-90deg);
}

.hero-decoration {
  position: absolute;
  inset-inline-start: -650px;
  inset-block-end: -490px;
  z-index: -1;
  opacity: 0.4;
  transform: rotate(180deg);
  filter: blur(6px);
}

.purple-romb {
  display: none;
}

@media (min-width: 768px) {
  .section-content {
    flex-direction: row-reverse;
    align-items: center;
    height: 100vh;
    gap: 0;
  }

  .hero-decoration {
    inset-inline-start: -550px;
    inset-block-end: -450px;
    opacity: 0.7;
  }

  .hero-description > p {
    width: min(440px, 100%);
  }

  .hero-image {
    margin-block-start: 2rem;
    width: min(900px, 100%);
  }

  .purple-romb {
    display: block;
    position: absolute;
    inset-block-end: 20px;
    inset-inline-end: 0;
    inset-inline-start: -350px;
    z-index: -1;
    margin: 0 auto;
    max-width: 200px;
    opacity: 0.7;
  }
}

@media (min-width: 992px) {
  .hero-image {
    padding-inline-end: 6.25rem;
  }
}

@media (min-width: 1140px) {
  .hero-description > h1 {
    font-size: 3.75rem;
  }
}
